.main {
  max-width: 912px;
  min-width: 320px;
  background-color: antiquewhite;
  min-height: 100vh;
  margin: auto;
  overflow: hidden;
  position: relative;
}
.btround {
  border-radius: 25px;
  overflow: hidden;
}
.text {
  color: rgb(0, 0, 0);
}
.label {
  color: rgb(71, 71, 71);
}
.footer {
  background-color: #333;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 12px;
}
.profile {
  width: 140px;
  height: 140px;
  border-radius: 70px;
}
.promotionicon {
  width: 70px;
  height: 70px;
  border-radius: 70px;
}

.floatbtn {
  background-color: #333;
  padding: 10px 30px;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
}
.floatcon {
  position: absolute;
  bottom: 30px;
  width: 100%;
}
.rqbtn {
  padding: 10px;
  width: 300px;
  border: none;
  border-radius: 10px;
  background-color: #c9c7c7;
}
.betnowbtn {
  padding: 10px;
  width: 200px;
  border: none;
  border-radius: 10px;
  background-color: #ece02c;
}
@media screen and (max-width: 450px) {
  .rqbtn {
    padding: 10px;
    width: 120px;
    border: none;
    border-radius: 10px;
    background-color: #c9c7c7;
  }
  .betnowbtn {
    padding: 10px;
    width: 120px;
    border: none;
    border-radius: 10px;
    background-color: #ece02c;
  }
}

.seats {
  padding-right: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  justify-content: center;
}

.seat {
  height: 40px;
  width: 40px;
  margin-right: 10px;
  margin-top: 10px;
  margin-left: 10px;
  text-align: center;
  padding-top: 5px;
  border-radius: 5px;
}
.cellcontainer {
  margin: 20px;
}
.fromto {
  display: flex;
  justify-content: end;
  margin-bottom: 20px;
  margin-right: 22px;
}
.cellgroup {
  width: 160px;
  padding: 10px;
  border-radius: 7px;
}
.cell {
  margin: 10px;
}
.cellgrid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}
@media only screen and (max-width: 600px) and (min-width: 400px) {
  .cellgrid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
}
@media only screen and (max-width: 450px) and (min-width: 360px) {
  .cellgrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}
@media only screen and (max-width: 360px) {
  .cellgrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
